h1{
  text-align: center;
  text-shadow: 0 0 5px yellow, 0 0 10px blue;
  margin-bottom: 50px;
}

h3{
  margin-bottom: 50px;
}

.cSharp{
  display: none;
}

.java{
  display: none;
}

.php{
  display: none;
}

.ruby{
  display: none;
}

.css{
display: none;
}

.none{
  display: none;
}

.reveal{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.jumbotron{
  background-color: skyblue;
  border: solid 1px green;
  padding-top: 20px;
}
