h1{
  text-align: center;
}

h3{
  margin-bottom: 50px;
}

.cSharp{
  display: none;
}

.java{
  display: none;
}

.php{
  display: none;
}

.ruby{
  display: none;
}

.css{
display: none;
}
.none{
  display: none;
}
